<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="mundo" class="com.mitocode.beans.Mundo">
	<property name="saludo" value="Hola mundo">
	</property>
</bean>

<bean id="persona" class="com.mitocode.beans.Persona">
	<constructor-arg index="2" value="mitocode"></constructor-arg>
	<constructor-arg index="0" value="1"></constructor-arg>
	<constructor-arg index="1" value="Cesar"></constructor-arg>
</bean>

<!-- Autowiring , sometimes it gets confusing !-->
<bean id="persona2PorAuto" class="com.mitocode.beans.Persona2" autowire="byName"/>


<bean id="persona2" class="com.mitocode.beans.Persona2" name="personaAlias">
	<property name="id" value="1"/>
	<property name="nombre" value="Cesar"/>
	<property name="apodo" value="tmac"/>
	<property name="pais" ref="pais"/>
</bean>

<bean id="pais" class="com.mitocode.beans.Pais">
	<property name="nombre" value="Mexico"/>
	<property name="ciudad" ref="ciudad"/>
</bean>

<bean id="ciudad" class="com.mitocode.beans.Ciudad">
	<property name="nombre" value="DF"/>
	<property name="colonia">
			<!-- Beans anidados !!! -->
		<bean id="colonia" class="com.mitocode.beans.Colonia">
			<property name="nombre" value="Lomas"/>
		</bean>
	</property>
	
	<property name="calles">
		<list>
			<ref bean="calle1"/>
			<ref bean="calle2"/>
			<ref bean="calle3"/>
		</list>
	</property>
	
</bean>

<bean id="calle1" class="com.mitocode.beans.Calle">
	<property name="nombre" value="ninos"/>
</bean>
<bean id="calle2" class="com.mitocode.beans.Calle">
	<property name="nombre" value="15Sep"/>
</bean>
<bean id="calle3" class="com.mitocode.beans.Calle">
	<property name="nombre" value="joseMa"/>
</bean>


<alias name="persona" alias="personaBean"/>


<!-- Herencia de beans -->

<bean id="trianguloPadre" class="com.mitocode.beans.Triangulo">
	<property name="puntoA" ref="puntoA"></property>
</bean>

<bean id="triangulo1" class="com.mitocode.beans.Triangulo" parent="trianguloPadre">
	<property name="puntoB" ref="puntoB"></property>
	<property name="puntoC" ref="puntoC"></property>	
</bean>

<bean id="puntoA" class="com.mitocode.beans.Punto">
	<property name="x" value="0"></property>
	<property name="y" value="1"></property>	
</bean>
<bean id="puntoB" class="com.mitocode.beans.Punto">
	<property name="x" value="2"></property>
	<property name="y" value="3"></property>	
</bean>
<bean id="puntoC" class="com.mitocode.beans.Punto">
	<property name="x" value="4"></property>
	<property name="y" value="5"></property>	
</bean>



<bean id="cuadradoPadre" class="com.mitocode.beans.Cuadrado">
	<property name="puntos">
		<list>
			<ref bean="puntoA"/>
			<ref bean="puntoB"/>
		</list>
	</property>
</bean>

<bean id="cuadrado1" class="com.mitocode.beans.Cuadrado" parent="cuadradoPadre">
	<property name="puntos">
		<list merge="true"> <!-- Para que no sobrescriba a los elem del bean padre -->
			<ref bean="puntoC"/>
		</list>
	</property>
</bean>

<bean id="circulo" class="com.mitocode.beans.Circulo"/>

<!-- Singleton y Protoype -->

<bean id="personaScope" class="com.mitocode.beans.Persona2" scope="prototype">
	<property name="id" value="1"/>
	<property name="nombre" value="Cesar"/>
	<property name="apodo" value="tmac"/>
	<property name="pais" ref="pais"/>
</bean>




</beans>
